.combo {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: -$input-border-width;
    background: $input-bg;
    border: $input-border-width solid $input-border-color;
    border-bottom-left-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
    list-style: none;
    padding: 0;
    z-index: 2;

    &--item {
        padding: $input-padding-y $input-padding-x;

        &__highlighted {
            background: $input-group-addon-bg;
        }

        &__selected {
            font-weight: bold;
        }
    }
}

.input-group--combo > .form-control:not(:last-child) {
    border-top-right-radius: $input-border-radius;
    border-bottom-left-radius: 0;
}
