@import "~flatpickr/dist/flatpickr.css";

.flatpickr-day-with-data-marker {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 150px;
    bottom: 3px;
    left: calc(50% - 1.5px);
    content: " ";
    display: block;
    background: #3d8eb9;
}

.consumption,
.food {
    --macro-label-color: var(--color-secondary-text);
    --macro-value-color: var(--color-primary-text);
    display: grid;
    grid-template-columns: 1fr 4rem;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: "consumable quantity" "macros macros";
    row-gap: var(--padding-m);
    padding: var(--padding-m);
    text-decoration: none;
    color: var(--color-primary-text);
    width: 100%;
    box-sizing: border-box;

    &__macros {
        display: flex;
        grid-area: macros;
        justify-content: space-between;
    }
    &__macro {
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        font-size: var(--text-larger);
        color: var(--macro-value-color);
        align-items: center;
        &::before {
            content: attr(data-label);
            font-size: var(--text-smaller);
            color: var(--macro-label-color);
        }
        &::after {
            content: attr(data-suffix);
            font-size: var(--text-smaller);
            color: var(--macro-label-color);
        }
    }
    &__consumable {
        grid-area: consumable;
    }
    &__quantity {
        grid-area: quantity;
        text-align: right;
    }
    &--totals {
        --macro-label-color: var(--color-text-primary);
        --macro-value-color: var(--color-text-primary);
        background: var(--color-light-primary);
    }
    &--only-macros {
        grid-template-rows: 1fr;
        grid-template-areas: "macros macros";
    }
}