.macro-inputs {
    display: flex;
    justify-content: space-between;
    .input-group {
        width: 22%;
    }
    .input-group__input {
        width: 100%;
        text-align: center;
    }
    .input-group__label {
        text-align: center;
    }
}