.recipes-table {
    .data-table__row {
        grid-template-columns:
            32%
            11%
            11%
            11%
            11%
            11%
            13%;
    }
    .recipes-table__row--create-link {
        .data-table__cell {
            background-color: lighten($table-border-color, 7.5%);
            text-align: center;
        }

        .btn {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}

.ingredients-table {
    .data-table__row {
        grid-template-columns:
            32%
            11%
            11%
            11%
            11%
            11%
            13%;
    }
    // .ingredients-table__cell--sums {
    //     font-weight: bold;
    //     // border will look like double-thickness because of border-bottom from second-to-last row
    //     border-top: $table-border-width solid $table-border-color;
    //     border-bottom: (4 * $table-border-width) double $table-border-color;
    // }
}
