.data-table {
    display: grid;

    &__row {
        display: contents;
    }

    &__cell {
        padding: $table-cell-padding;
        border-bottom: $table-border-width solid $table-border-color;

        &--header {
            font-weight: bold;
            border-width: (2 * $table-border-width);
        }

        &--actions {
            display: flex;
            align-content: space-between;

            .btn {
                display: none;
                flex-grow: 1;
                margin-left: $table-cell-padding;

                &.btn--larger {
                    flex-grow: 100;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &__value {
        line-height: $input-height;
    }

    .input-group-append input,
    .input-group-append select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        z-index: 0;
    }
}

.data-table__row--form .data-table__cell--actions .btn,
.data-table__row--hovered .data-table__cell--actions .btn {
    display: inline-block;

    &.btn--cancel {
        display: none;
    }
}

.data-table__row--editing .data-table__cell--actions .btn.btn--cancel {
    display: inline-block;
}
