@import "~flatpickr/dist/flatpickr.css";

.date-navigation {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.375rem 0;
    border-bottom: 2px solid #dee2e6;

    &__date-input {
        margin: 0;
        border: 0;
        padding: 0;
        font-size: 1.5rem;
        text-align: center;
        width: 15rem;

        &:focus {
            outline: none;
        }
    }
    &__nav-link {
        display: flex;
        align-items: center;
        flex-grow: 1;
        &--next {
            justify-content: flex-end;
        }
    }
}

.flatpickr-calendar:before,
.flatpickr-calendar:after {
    left: 50%;
}

.flatpickr-day-with-data-marker {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 150px;
    bottom: 3px;
    left: calc(50% - 1.5px);
    content: " ";
    display: block;
    background: #3d8eb9;
}

// This value is selected such that the input field stays large enough
// when the label is set to "servings"
$quantity-column-width: 180px;

.consumptions-table {
    .data-table__row {
        grid-template-columns:
            1fr
            $quantity-column-width
            11%
            11%
            11%
            11%
            13%;
    }
    .consumptions-table__cell--remaining {
        font-weight: bold;
    }
    .data-table__group--macros {
        display: contents;
    }
}

@media screen and (max-width: 1220px) {
    .consumptions-table {
        .data-table__row {
            grid-template-columns:
                1fr
                $quantity-column-width
                13%
                11%
                11%
                11%
                16%;
        }
    }
}

@media screen and (max-width: 1040px) {
    .consumptions-table {
        .data-table__row {
            grid-template-columns:
                1fr
                $quantity-column-width
                minmax(min-content, 80px)
                minmax(min-content, 60px)
                minmax(min-content, 60px)
                minmax(min-content, 80px)
                minmax(160px, 14%);
        }
        .data-table__cell {
            padding: $table-cell-padding / 2;
        }
    }
}

@media screen and (max-width: 860px) {
    .consumptions-table {
        display: block;

        .data-table__row {
            display: grid;
            grid-template-columns: 1fr 8rem;
            grid-template-rows: repeat(3, max-content);
            grid-template-areas: "consumable quantity" "macros macros" "actions actions";
            border-bottom: 1px solid #dee2e6;
            padding: 0.375rem 0;

            &--header {
                display: none;
            }
            &--show {
                .data-table__cell--actions {
                    display: none;
                }
                &.data-table__row--active {
                    .data-table__cell--actions {
                        display: flex;
                    }
                }
            }
        }
        .data-table__cell {
            border-width: 0;
            padding: 0.375rem 0;

            &--id-consumable,
            &--id-quantity {
                .data-table__value::before {
                    content: "";
                }
            }
            &--id-consumable {
                grid-area: consumable;
                padding-right: 0.375rem;
            }
            &--id-quantity {
                grid-area: quantity;
                text-align: right;
            }
            &--actions {
                grid-area: actions;
            }
            &--id-calories,
            &--id-fat,
            &--id-carbs,
            &--id-protein {
                text-align: center;
                font-size: 1.5rem;
                line-height: 1.1;
            }
        }
        .data-table__value {
            display: flex;
            flex-direction: column;
            line-height: 1.1;

            &::before {
                content: attr(data-label);
                font-size: 0.8rem;
            }
            &::after {
                content: attr(data-suffix);
                font-size: 0.8rem;
            }
        }
        .data-table__group--macros {
            display: flex;
            grid-area: macros;
            justify-content: space-between;
        }
    }
}
