// @import "./DataTable/DataTable";
@import "./View/Foods/Foods";
@import "./View/Consumptions/Consumptions";
@import "./View/ComboBox/ComboBox";
// @import "./Recipes/Recipes";
// @import "./Statistics/Statistics";

:root {
    --padding-s: 0.375rem;
    --padding-m: 0.75rem;
    --padding-l: 1rem;

    --text-smaller: 0.8rem;
    --text-larger: 1.5rem;
    --text-largest: 1.6rem;

    --font-family: sans-serif;

    --color-dark-primary: #001970;
    --color-default-primary: #303f9f;
    --color-light-primary: #666ad1;
    --color-text-primary: #FFFFFF;
    --color-accent: #009688;
    --color-primary-text: #212121;
    --color-secondary-text: #757575;
    --color-divider: #BDBDBD;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: var(--font-family);
    color: var(--color-primary-text);
    font-size: 1rem;
    padding-bottom: 6rem;
}

.fab {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    background: var(--color-accent);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon {
        height: 1.5rem;
        fill: var(--color-text-primary);
    }
}

.form {
    padding: var(--padding-m);

    &__buttons {
        display: flex;
        justify-content: flex-end;

    }
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--padding-m);

    &__label {
        width: 100%;
        flex-shrink: 0;
        display: block;
        margin-bottom: var(--padding-s);
    }
    &__input {
        display: block;
        flex-grow: 1;
        box-sizing: border-box;
        border: 1px solid var(--color-divider);
        padding: var(--padding-m);
        color: var(--color-primary-text);
        font-family: var(--font-family);
        font-size: 1rem;
        // Makes date inputs same height as other inputs. Without this, they are higher.
        &[type="date"] {
            padding-top: calc(var(--padding-m) - 3px);
            padding-bottom: calc(var(--padding-m) - 3px);
        }
    }
    &__suffix {
        background: var(--color-divider);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 var(--padding-l);
    }
}

.button {
    border: none;
    padding: var(--padding-m) 2rem;
    font-family: var(--font-family);
    font-size: 1rem;
    margin-right: var(--padding-m);
    &:last-child {
        margin-right: 0;
    }

    &--primary {
        background: var(--color-default-primary);
        color: var(--color-text-primary);
    }

    &--secondary {
        background: var(--color-divider);
        color: var(--color-primary-text);
    }
}

.search {
    position: relative;
    padding: var(--padding-m);

    &__input {
        padding-right: 2.5rem;
    }

    &__icon {
        position: absolute;
        right: 1.5rem;
        height: 1rem;
        top: 50%;
        margin-top: -0.5rem;
        fill: var(--color-primary-text);
    }
}

.top-bar {
    display: flex;
    background: var(--color-dark-primary);
    position: relative;
    align-items: center;

    &__nav-button,
    &__action-button {
        background: none;
        border: none;
        padding: var(--padding-m);
        color: var(--color-text-primary);
    }

    &__nav-icon,
    &__action-icon {
        fill: currentColor;
        height: var(--text-larger);
        width: var(--text-larger);
    }

    &__title {
        flex-grow: 1;
        font-size: 1.2rem;
        color: var(--color-text-primary);
    }
}

.nav-drawer {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background: #fff;
    width: 80vw;
    height: 100vh;
    z-index: 10;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.3s;
    visibility: hidden;

    &__title {
        font-size: var(--text-largest);
        color: var(--color-primary-text);
        text-decoration: none;
        padding: var(--padding-m);
        display: block;
    }

    &__divider {
        border: none;
        border-bottom: 1px solid var(--color-divider);
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        color: var(--color-primary-text);
        text-decoration: none;
        display: block;
        padding: var(--padding-m);
    }

    &--visible {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}

.scrim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;

    &--visible {
        display: block;
    }
}