@import "~flatpickr/dist/flatpickr.css";

:root {
    --padding-s: 0.375rem;
    --padding-m: 0.75rem;
    --padding-l: 1rem;

    --text-smaller: 0.8rem;
    --text-larger: 1.5rem;
    --text-largest: 1.6rem;

    --font-family: sans-serif;

    --color-dark-primary: #001970;
    --color-default-primary: #303f9f;
    --color-light-primary: #666ad1;
    --color-text-primary: #ffffff;
    --color-accent: #009688;
    --color-primary-text: #212121;
    --color-secondary-text: #757575;
    --color-divider: #bdbdbd;

    --icon-size: 1rem;
    --top-bar-height: 3.5rem;
    --top-bar-font-size: 1.1rem;
}

@mixin icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

@mixin icon-button-icon($color) {
    fill: $color;
    height: var(--icon-size);
    width: var(--icon-size);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: var(--font-family);
    color: var(--color-primary-text);
    font-size: 1rem;
    padding-bottom: 6rem;
}

.container {
    padding: var(--padding-m);
}

.fab {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    background: var(--color-accent);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon {
        @include icon-button-icon(var(--color-primary-text));
    }
}

.form {
    &__buttons {
        display: flex;
        justify-content: flex-end;
        padding: var(--padding-m);
    }
    fieldset {
        display: contents;
        legend {
            font-size: var(--text-larger);
            padding: var(--padding-m);
            margin-bottom: 0;
        }
    }
}

.input-group {
    display: flex;
    border-bottom: 1px solid var(--color-divider);
    padding: var(--padding-m);
    position: relative;

    &__label {
        display: block;
        color: var(--color-secondary-text);
        margin-right: var(--padding-m);
        white-space: nowrap;
    }
    &__input {
        display: block;
        width: 20%;
        flex-grow: 1;
        box-sizing: border-box;
        border: none;
        padding: 0;
        color: var(--color-primary-text);
        font-family: var(--font-family);
        font-size: 1rem;
        &:focus {
            outline: none;
        }
    }
    &__suffix {
        color: var(--color-secondary-text);
    }
}

.button {
    border: none;
    padding: var(--padding-m) 2rem;
    font-family: var(--font-family);
    font-size: 1rem;
    margin-right: var(--padding-m);
    &:last-child {
        margin-right: 0;
    }

    &--primary {
        background: var(--color-default-primary);
        color: var(--color-text-primary);
    }

    &--secondary {
        background: var(--color-divider);
        color: var(--color-primary-text);
    }
}

.top-bar {
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid var(--color-divider);
    height: var(--top-bar-height);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;

    &__nav-button,
    &__action-button {
        @include icon-button();
        height: var(--top-bar-height);
        width: var(--top-bar-height);
    }

    &__nav-icon,
    &__action-icon {
        @include icon-button-icon(var(--color-primary-text));
    }

    &__title {
        flex-grow: 1;
        font-size: var(--top-bar-font-size);
    }

    &__search {
        border: none;
        padding: 0 var(--padding-m) 0 0;
        font-size: var(--top-bar-font-size);
        font-family: var(--font-family);
        color: var(--color-primary-text);
        flex-grow: 1;

        &:focus {
            outline: none;
        }
    }
}

.nav-drawer {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background: #fff;
    width: 80vw;
    height: 100vh;
    z-index: 10;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.3s;
    visibility: hidden;

    &__title {
        font-size: var(--text-largest);
        color: var(--color-primary-text);
        text-decoration: none;
        padding: 0 var(--padding-m);
        display: block;
        line-height: var(--top-bar-height);
    }

    &__divider {
        border: none;
        border-bottom: 1px solid var(--color-divider);
        margin: 0;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        color: var(--color-primary-text);
        text-decoration: none;
        display: block;
        padding: var(--padding-m);
    }

    &--visible {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}

.scrim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;

    &--visible {
        display: block;
    }
}

.flatpickr-day-with-data-marker {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 150px;
    bottom: 3px;
    left: calc(50% - 1.5px);
    content: " ";
    display: block;
    background: #3d8eb9;
}

.consumption,
.food,
.recipe {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: "consumable quantity" "macros macros";
    row-gap: var(--padding-m);
    padding: var(--padding-m);
    text-decoration: none;
    color: var(--color-primary-text);
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-divider);
    &__macros {
        display: flex;
        grid-area: macros;
        justify-content: space-between;
    }
    &__macro {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.2;
        &::before {
            content: attr(data-label);
            font-size: var(--text-smaller);
            color: var(--color-secondary-text);
        }
        &::after {
            content: attr(data-suffix);
            font-size: var(--text-smaller);
            color: var(--color-secondary-text);
        }
    }
    &__consumable,
    &__name {
        grid-area: consumable;
    }
    &__quantity,
    &__servings {
        grid-area: quantity;
        text-align: right;
    }
    &--totals {
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: var(--text-larger);
    }
    &--only-macros {
        grid-template-rows: 1fr;
        grid-template-areas: "macros macros";
    }
}

.combo {
    flex-grow: 1;

    &__list {
        position: absolute;
        background: #fff;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: -1px;
        border: 1px solid var(--color-divider);
        list-style: none;
        padding: 0;
        z-index: 2;
        max-height: 50vh;
        overflow-y: auto;
        box-sizing: border-box;
    }
    &__item {
        padding: var(--padding-m);
        &--highlighted {
            background: var(--color-divider);
        }
        &--selected {
            font-weight: bold;
        }
        &--empty {
            color: var(--color-secondary-text);
        }
    }
    &__inner {
        display: flex;
        position: relative;
    }
    &__button {
        @include icon-button();
        height: 1rem;
        width: 1rem;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -0.5rem;
    }
    &__icon {
        @include icon-button-icon(var(--color-secondary-text));
        position: absolute;
        right: 0;
        top: 0;
    }
}

.recipe-form {
    .ingredients {
        padding: var(--padding-m);
        margin-bottom: var(--padding-m);

        &__header {
            display: flex;
            align-items: center;
        }

        &__label {
            flex-grow: 1;
            color: var(--color-secondary-text);
            display: block;
        }
    }

    .ingredient {
        display: flex;
        margin-top: var(--padding-m);
        position: relative;

        &__button {
            @include icon-button();
            height: 2rem;
            width: 2rem;
        }

        &__icon {
            margin-top: -4px;
            @include icon-button-icon(var(--color-secondary-text));
        }

        &__name,
        &__quantity,
        &__unit,
        .combo {
            display: block;
            border: none;
            border-bottom: 1px solid var(--color-divider);
            padding: var(--padding-s) 0;
            font-size: 1rem;
        }
        .combo {
            flex-grow: 1;
            margin-right: var(--padding-s);
        }
        &__quantity {
            width: 3rem;
            flex-grow: 0;
            text-align: right;
            padding-right: var(--padding-s);
        }
        &__unit {
            color: var(--color-secondary-text);
        }
    }
}
