@import "~bootstrap/scss/bootstrap";
@import "./DataTable/DataTable";
@import "./Foods/Foods";
@import "./Consumptions/Consumptions";
@import "./ComboBox/ComboBox";
@import "./Recipes/Recipes";

body {
    min-width: 320px;
}
